.Feed{
    margin-top: 60px;
    .container{
        display: flex;
        gap:15px;
        overflow: hidden;

    }
    .left-part{
        flex:2;
        overflow-y: auto;
        
    }
    .right-part{
        flex: 1;
        margin-top: 20px;
    }
    .suggestion{
        margin-top: 40px;
    }
    .Title{
        margin-bottom: 12px;
        text-align: center;
        

    }
}